{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Home{% endblock %}

{% block body %}
    <div class="hero-header-container">
        <div class="hero-header-text">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
        </div>

        <div class="hero-header-img">
            <img src="{{ asset('images/3a3a712d46724dda6860b8292c735c02.webp') }}" alt="Image de presentation de Green Goodies orienté vers des produits durables">
        </div>
    </div>

    <h2 class="product-section-title">Nos produits</h2>

    <div class="product-card-container">
        {% for article in lastArticles %}
            <div class="product-card">
                <img src="{{ asset(article.imagePath) }}" alt="{{ article.name }}">
                <div class="product-info">
                    <p class="product-info-title">{{ article.name }}</p>
                    <p class="product-info-short-description">{{ article.shortDescription }}</p>
                    <p class="product-info-price">{{ article.price|number_format(2, ',') }} €</p>
                    <a class="product-link" href="/article/{{ article.id }}">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="conviction-message-container">
        <div class="conviction-message-text">
            <h3>NOTRE CONVICTION</h3>
            <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
        </div>
        <div class="separator"></div>
        <div class="conviction-message-img">
            <img src="{{ asset('images/3d56d2aa94c157b36fcfc7d9f2db7fa3.webp') }}" alt="">
        </div>
    </div>

    <div class="values-message-container">
        <div class="values-message-img">
            <img src="{{ asset('images/f44e47b56a531865bb61be5625328910.webp') }}" alt="">
        </div>
        <div class="separator"></div>
        <div class="values-message-text">
            <h3>NOS VALEURS</h3>
            <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité. <br>Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques. <br>Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
        </div>
    </div>
{% endblock %}
