{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Inscription{% endblock %}

{% block body %}
    <div class="registration-form-container">
        <div class="registration-form-img">
            <img src="{{ asset('images/e320dfe5e12e68fa906b8b707f49e6ad.jpg') }}" alt="Image d'illustration de branches d'arbre fleuri">
        </div>

        {{ form_start(registrationForm) }}

        <h2>Inscription</h2>
        <p class="required-message">Tous les champs sont obligatoires.</p>

        <div class="error-form">
            {{ form_errors(registrationForm.LastName) }}
            {{ form_errors(registrationForm.FirstName) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.password.first) }}
            {{ form_errors(registrationForm.password.second) }}
            {{ form_errors(registrationForm.CguAccepted) }}
        </div>

        <div class="registration-form-line">
            {{ form_label(registrationForm.LastName) }}
            {{ form_widget(registrationForm.LastName) }}
        </div>

        <div class="registration-form-line">
            {{ form_label(registrationForm.FirstName) }}
            {{ form_widget(registrationForm.FirstName) }}
        </div>

        <div class="registration-form-line">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>

        <div class="registration-form-line">
            {{ form_label(registrationForm.password.first) }}
            {{ form_widget(registrationForm.password.first) }}

        </div>

        <div class="registration-form-line">
            {{ form_label(registrationForm.password.second) }}
            {{ form_widget(registrationForm.password.second) }}

        </div>

        <div class="registration-form-line cgu">
            {{ form_widget(registrationForm.CguAccepted) }}
            {{ form_label(registrationForm.CguAccepted) }}
        </div>

        <div class="registration-form-line">
            <button class="btn btn-lg btn-primary" type="submit">S'inscrire</button>
        </div>

        <div class="registration-link">
            <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
