{% extends 'base.html.twig' %}

{% block title %}Green Goodies - {{ article.name }} {% endblock %}

{% block body %}
    <div class="product-container">
        <div class="product-img">
            <img src="{{ asset(article.imagePath) }}" alt="{{ article.name }} ">
        </div>

        <div class="product-details">
            <h2 class="product-details-title">{{ article.name }} </h2>
            <p class="product-details-price">{{ article.price }} </p>

            <p class="product-details-description-title">Description</p>
            <p class="product-details-description">
                {{ article.longDescription }}
            </p>

            <div class="add-article-container">
                <div class="add-article-link">
                    <a href="#">Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}