{% extends 'base.html.twig' %}

{% block title %}Green Goodies - {{ article.name }} {% endblock %}

{% block body %}
    <div class="product-container">
        <div class="product-img">
            <img src="{{ asset(article.imagePath) }}" alt="{{ article.name }} ">
        </div>

        <div class="product-details">
            <h2 class="product-details-title">{{ article.name }}</h2>
            <p class="product-details-price">{{ article.price|number_format(2, ',') }} €</p>

            <p class="product-details-description-title">Description</p>
            <p class="product-details-description">
                {{ article.longDescription }}
            </p>

            {% if is_granted("ROLE_USER") %}
                {% if articleInCart == true %}
                    <form action="{{ path('cart.update', {'id': article.id, 'quantity': 1}) }}" method="post">
                        <div class="quantity-line">
                            <label for="quantity">Quantité (max: {{ article.stock }})</label>
                            <input type="number" id="quantity" name="quantity" value="{{ articleQuantity }}" min="0" max="{{ article.stock }}">
                        </div>
                        <div class="add-article-container">
                            <div class="add-article-link">
                                <button type="submit">Mettre à jour</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    {% if article.stock > 1 %}
                    <form action="{{ path('cart.add', {'id': article.id, 'quantity': 1}) }}" method="post">
                        <div class="quantity-line">
                            <label for="quantity">Quantité (max: {{ article.stock }})</label>
                            <input type="number" id="quantity" name="quantity" value="1" min="0" max="{{ article.stock }}">
                        </div>

                        <div class="add-article-container">
                            <div class="add-article-link">
                                <button type="submit">Ajouter au panier</button>
                            </div>
                        </div>
                    {%  else %}
                        <div class="add-article-container not-available">
                            <div class="add-article-link not-available">
                                <button id="not-available-btn" type="button">Produit indisponible</button>
                            </div>
                        </div>
                    {% endif %}
                    </form>
                {% endif %}
            {% else %}
                <div class="login-container">
                    <div class="login-btn">
                        <a href="{{ path('app_login') }}">Se connecter</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}