{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Nos produits{% endblock %}

{% block body %}
    <h2 class="product-section-title">Nos produits</h2>

    <div class="product-card-container">
        {% for article in articles %}
            <div class="product-card">
                <img src="{{ asset(article.imagePath) }}" alt="{{ article.name }}">
                <div class="product-info">
                    <p class="product-info-title">{{ article.name }}</p>
                    <p class="product-info-short-description">{{ article.shortDescription }}</p>
                    <p class="product-info-price">{{ article.price|number_format(2, ',') }} €</p>
                    <a class="product-link" href="/article/{{ article.id }}">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
