{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Nos produits{% endblock %}

{% block body %}
    <h2 class="product-section-title">Nos produits</h2>

    <div class="product-card-container">
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
        <div class="product-card">
            <img src="{{ asset('articles/0f07c28090abf9ac0d263bf4473ba9a6.jpg') }}" alt="Kit d'hygiène recyclable">
            <div class="product-info">
                <p class="product-info-title">Kit d'hygiène recyclable</p>
                <p class="product-info-short-description">Pour une salle de bain éco-friendly</p>
                <p class="product-info-price">24,99€</p>
                <a class="product-link" href="/product/1">Voir le produit</a>
            </div>
        </div>
    </div>
{% endblock %}
